[2021-12-14 08:09] jianghaojun opened #1 "Looking forward to the release of the code and model!"

[2022-01-24 09:04] Ariellsc commented on #1
+1

[2022-02-22 10:45] iNeil77 commented on #1
+1

[2022-02-24 10:38] zyqdragon commented on #1
+1

[2022-02-25 07:33] zyqdragon commented on #1
+1

[2022-03-01 17:17] d12306 commented on #1
+1, this paper is going to be a truck for sure!

[2022-03-02 04:57] JarintotionDin commented on #1
+1

[2022-03-03 15:02] bobwan1995 commented on #1
+1

[2022-03-06 04:18] JialianW commented on #1
Looking forward as well

[2022-03-17 03:53] Edwardmark commented on #1
+1

[2022-04-08 07:50] xiao2mo commented on #1
+1

[2022-04-12 12:33] FrancescoSaverioZuppichini opened #2 "Where is the code/model?"
Hi guys,

any update on the code/model?

[2022-04-15 05:52] liunian-harold-li commented on #1
Thank everyone for your interest for our code and paper! My apologies for the long delay. The code is available now ; )

This is the first version and we will make some updates soon. Comments and issues are welcome!

[2022-04-15 05:52] #1 closed

[2022-04-15 05:53] liunian-harold-li commented on #2
Thank you for your interest! It's released now ; )

[2022-04-15 05:53] #2 closed

[2022-04-18 04:07] Edwardmark opened #3 "TypeError: CheckpointFunctionBackward.forward: expected Tensor or tuple of Tensor (got NoneType) for return value 6"
When I run the test code on coco benchmark, following error shows:
TypeError: CheckpointFunctionBackward.forward: expected Tensor or tuple of Tensor (got NoneType) for return value 6

[2022-04-18 04:13] liunian-harold-li commented on #3
Hi, could you check your PyTorch version? This error might be due to the checkpoint api is different on older version of PyTorch https://pytorch.org/docs/stable/checkpoint.html.

Otherwise, if you are only interested in the test code on COCO, could you append this parameter to the command line to disable checkpoint and see if the issue could be resolved?

MODEL.DYHEAD.USE_CHECKPOINT False

[2022-04-18 06:58] Edwardmark commented on #3
hi what version should I use for this code? I am using pytorch 1.8.0. Thanks

[2022-04-18 07:20] Edwardmark commented on #3
@liunian-harold-li could you please give out a requirements.txt or a dockerfile so everybody can reproduce the result easily.
Thanks.

[2022-04-18 07:50] Edwardmark commented on #3
@liunian-harold-li I change the pytorch to 1.10.0， then it works, thanks.

[2022-04-18 07:50] #3 closed

[2022-04-19 07:17] FrancescoSaverioZuppichini commented on #1
This is amazing! Thanks

[2022-04-27 07:34] Edwardmark opened #4 "how to inference single image and how to visualize the result?"
Hi， your great work impressed me a lot, could you please provide the code to inference single image and visulization? Thanks.

[2022-04-27 08:23] Edwardmark opened #5 "where is the fine-tune config file ?"
hi，could you please tell me where the fine-tune config file is?
I want to do prompt tuning. Thanks.

[2022-04-30 09:09] jiangzhengkai opened #6 "when will you release the pretrained model weights?"

[2022-05-01 05:04] liunian-harold-li commented on #4
Hi we have provided a demo at https://colab.research.google.com/drive/12x7v-_miN7-SRiziK3Cx4ffJzstBJNqb?usp=sharing.

[2022-05-01 05:04] #4 closed

[2022-05-01 05:04] liunian-harold-li commented on #5
Hi the commands for running the prompt tuning is at https://github.com/microsoft/GLIP#prompt-tuning.

[2022-05-01 05:06] liunian-harold-li commented on #6
Hi the pertained model weights are released at https://github.com/microsoft/GLIP#model-zoo. Please let me know if there is a particular model weight that you would like to use.

[2022-05-01 06:37] jiangzhengkai commented on #6
Thanks for your reply. I notice that GLIP-L model weight is the same as the original Swin-L.

[2022-05-05 02:08] Edwardmark commented on #5
![image](https://user-images.githubusercontent.com/15247551/166854333-3f99fd80-938e-4ed9-b069-f34ccc0f3a6f.png)
which file is the configs for ft-task? Thanks.

[2022-05-05 02:53] Edwardmark commented on #4
![image](https://user-images.githubusercontent.com/15247551/166857232-a66e7f5b-c481-40c1-970c-861dccaef218.png)
hi, I run the demo in Colab, with all the previous step running successful, this step failed with error "not compiled with gpu support". Please help, thanks.

[2022-05-06 06:17] Edwardmark commented on #5
@liunian-harold-li could you use Aquarium_Aquarium_Combined.v2-raw-1024.coco.yaml data as an example to show how to do prompt / full fine-tuning, and give the full command with all config and options? It would make things more clear. Thanks.

[2022-05-06 06:20] liunian-harold-li commented on #5
Sorry for the late reply. The {configs} is configs/odinw/Aquarium_Aquarium_Combined.v2-raw-1024.coco.yaml. The explanation about this config is given at https://github.com/microsoft/GLIP#odinw--custom-dataset-evaluation. The fine-tuning config is the same as the evaluation config. Sorry for the confusion.

[2022-05-06 06:28] Edwardmark commented on #5
@liunian-harold-li Thanks. So I should set ft-config {configs} as " configs/odinw/Aquarium_Aquarium_Combined.v2-raw-1024.coco.yaml" the same as --config-file {config_file}? Is that right?

[2022-05-06 06:33] liunian-harold-li commented on #5
Sorry for the confusion. --config-file should be set to the pretrian
model's config file. An example command:

python -m torch.distributed.launch --nproc_per_node=4 tools/finetune.py \
      --config-file configs/pretrain/glip_Swin_T_O365_GoldG.yaml
--ft-tasks configs/odinw/Aquarium_Aquarium_Combined.v2-raw-1024.coco.yaml
--skip-test \
      --custom_shot_and_epoch_and_general_copy 3_200_4 \

[2022-05-06 06:36] Edwardmark commented on #5
@liunian-harold-li Thank you very much, your kind reply is really helpful.

[2022-05-06 09:06] Edwardmark commented on #5
@liunian-harold-li Hi, I try to run the finetune.py with the following command:
[code]
it shows the following error:
![image](https://user-images.githubusercontent.com/15247551/167101299-51b5f3be-a42b-423f-9413-750a01862070.png)

Then I debug by run the cmd using pdb, and I found that the error occurs in https://github.com/microsoft/GLIP/blob/main/maskrcnn_benchmark/data/build.py#L443, for dataset

[2022-05-06 17:17] bushou-yhh opened #7 "How to use prompt turning(language_prompt_v2) in custom datasets?"
Hi, Thanks for your sharing this nice work!
I would like to confirm the following question:

- When I follow the setting "**SOLVER.WEIGHT_DECAY 0.25  SOLVER.BASE_LR 0.05 SOLVER.TUNING_HIGHLEVEL_OVERRIDE language_prompt_v2**", I can not get a nice result. There is still a big gap compared to full_model turning<1shot,3shot,5shot,10shot,...,full data>.
-  When I only use name in my custom dataset, I

[2022-05-07 02:42] Edwardmark opened #8 "How to use negative samples to train the model?"
Hi, in detection there is lots of false positive, for examples, when we want to detect human-face, some animal face or cartoon face is detected as false negatives, so we need add the negative samples to training data.

But I found that in training, this negative data without annotations will be ignored, could you please tell me the right way to add this negative data ? Thanks.

[2022-05-09 16:34] liunian-harold-li commented on #7
Hi, thank you for raising this great question!

1. Difference between 4 kinds of prompt tuning ways

v2 is the most "literal" prompt tuning, in that it will freeze both the language model and the rest of the model; add a bias embedding vector to the prompt embedding; and we will just tune the bias vector (https://github.com/microsoft/GLIP/blob/e496d64141086fbd5f064ee6f4a9b7427f0be101/maskrcnn_benc

[2022-05-09 16:39] liunian-harold-li commented on #5
Sorry for the confusion. Indeed, DATALOADER.DISTRIBUTE_CHUNK_AMONG_NODE should be set to false.

It was intended to be used when we have a lot of pre-training data (dozens of terabytes) and one training node cannot load all the data. We implemented this to distribute the data to different nodes to avoid running out of hard disk space.

I have removed the option in the GLIP-L config.

[2022-05-09 16:43] liunian-harold-li commented on #8
We followed the common practice in COCO training where negative data (images without any boxes) will be ignored.

If you want to train on images without any boxes, you could start by removing these lines https://github.com/microsoft/GLIP/blob/main/maskrcnn_benchmark/engine/trainer.py#L95.

But the assumption that we will only train on images with some boxes is made in a lot of places in the code a

[2022-05-11 02:43] Edwardmark commented on #8
@liunian-harold-li Thanks. I will try.

[2022-05-11 02:45] Edwardmark commented on #5
@liunian-harold-li Thank you very much.

[2022-05-11 02:45] #5 closed

[2022-05-11 03:47] Edwardmark commented on #4
@liunian-harold-li hi, how to set config.yaml to  inference like your demo (https://colab.research.google.com/drive/12x7v-_miN7-SRiziK3Cx4ffJzstBJNqb?usp=sharing)when using the prompt_finetune folloing readme.

[2022-05-11 07:39] Edwardmark commented on #4
@liunian-harold-li In other words, what config should be changed in glip_swin_l.yaml to inference the model after prompt-finetuning. Thanks.

[2022-05-11 09:08] Edwardmark opened #9 "How to do prompt fine-tune in custum dataset."
I try to do prompt fine-tune in my custum dataset with only one class. So I set the data config like below:
[code]
Then I try to do inference following the demo (https://colab.research.google.com/drive/12x7v-_miN7-SRiziK3Cx4ffJzstBJNqb?usp=sharing), using the config file generated in ft_task_1/config.yaml, the inference important code is as follows:
[code]
if using the num_class=2 configuration, i

[2022-05-13 04:13] JialianW opened #10 "Question about Object365"
Dear author,

Did you use the V1 version only for Object365? In the paper, you said Object365 contains 0.66M images. The current Object365 training set has 1.72M images.

Thank you!

[2022-05-13 04:41] #7 closed

[2022-05-17 23:49] aiotko opened #11 "Results on COCO 2017 dataset"
Hi,

Could you please clarify what is your actual results on coco 2017 dataset?

I've just found the submission from GLIP/Microsoft research team that took the 2nd place on coco test-dev2019 with AP=0.62 and AP50=0.80

Have you used GLIP-L model or another one which is not public so far?

https://competitions.codalab.org/competitions/20794#results

[2022-05-19 12:09] MarcusNerva opened #12 "Extract region features"
Hi there! Thank you for your amazing work! But how to extract features for regions in a given image?

[2022-05-19 14:01] aiotko commented on #11
Hi,

Sorry, I've investigated the point a bit more, tried out GLIP-L model with the proposed weights and got 51.2% AP on val2017 dataset.

[2022-05-19 17:00] aiotko opened #13 "GLIP-L fine tuning/training"
Hi,

I've tried to run GLIP-L fine-tuning on COCO dataset and the estimate is around 44 days on GeForce RTX 3090 and 8 days on 4*A100 GPUs.

Could you please provide weights for the fine-tuned model and clarify whether the estimates are relevant or I do something wrong :-)?

[2022-05-19 18:58] aiotko commented on #6
Hi,

Great work and amazing results!
@liunian-harold-li could you please provide weights for GLIP-L model fine-tuned on coco dataset?

[2022-05-19 22:09] sadransh commented on #13
I need the same checkpoint if possible.

@aiotko I am trying to start fine-tuning on coco using the following command I getting to `KeyError: 'embedded'`  when trying to fine-tune on coco with config and weights provided for largest model.

[2022-05-20 00:46] aiotko commented on #13
@sadransh I was able to start fine-tuning for GLIP-L on 4 x A100 GPUs using the following command, the estimate shown is 8-9 days.

At the same time I'm unsure if the parameters are suitable as I just borrowed them from the script for tiny model and adjusted only the batch size.

Btw I've used cuda 11.6, pytorch 1.9.0+cu111 on Ubuntu 18.04.

[code]

[2022-05-20 08:59] MarcusNerva commented on #11
@aiotko Hi there! May I ask how do you perform object detection on coco 2017? Given a image, do you join the 80 class name together with '.', then input this prompt with this image into the GLIP model?

[2022-05-20 15:06] aiotko commented on #11
@MarcusNerva yep, I joined all 80 classes via '.'

Please find the source code for object detection in the PR, I've just adapted the [colab Demo](https://colab.research.google.com/drive/12x7v-_miN7-SRiziK3Cx4ffJzstBJNqb?usp=sharing) for running on a local image a bit.

https://github.com/microsoft/GLIP/pull/14/files

[2022-06-02 07:34] liunian-harold-li commented on #9
Sorry for the late reply. If you have only one class, please set the NUM_CLASSES to 1 and the code should run smoothly.

When you set   CAPTION_PROMPT: '[{"prefix": " ", "name": "cigaret", "suffix": ", tube-shaped product smoked near mouth or holding by finger"}, ]', the model will not try to do inference for words in the "suffix". If you want to detect other things, you need to mark them explicit

[2022-06-02 07:37] liunian-harold-li commented on #10
I am not exactly sure which version we used. Please let me check with my co-authors and get back to you.

[2022-06-02 07:41] liunian-harold-li commented on #11
Hi, sorry for the late reply. The released GLIP-L is not tuned on COCO so the 51.X AP is the zero-shot AP. I will check whether I could find the fine-tuned GLIP-L checkpoint. I do not have access to the stored weights on the servers right now so that could take some time.

For the 0.62 mAP model on the leaderboard, yes it is a new GLIP model and we will release the paper soon!

[2022-06-02 07:43] liunian-harold-li commented on #12
Hi there, I think for single-state detectors, it is not that straightforward to extract region features, unlike the two-stage detectors as in BUTD. Perhaps my coauthors have better answers @pzzhang @Haotian-Zhang.

[2022-06-02 08:01] liunian-harold-li commented on #13
Hi, indeed it is costly to fine-tune GLIP-L on COCO.
If you are not aiming for the absolute highest performance or trying to squeeze out the last few points, usually fine-tuning for less steps still gives quite high performance.

I will try to dig up the exact config we used for tuning the GLIP-L model on COCO. For achieving the SotA performance, we also need to increase the training resolution an

[2022-06-05 17:55] Haotian-Zhang commented on #12
Hi, just as my @liunian-harold-li says it is not that straightforward to extract region features like two-stage detectors. In fact, we are able to extract the positive anchor features from ATSS. If you need to extract the backbone features, here's a piece of code that may help.

`
def convert_to_roi_format(boxes):
    concat_boxes = boxes.bbox
    device, dtype = concat_boxes.device, concat_boxes.

[2022-06-05 22:55] #10 closed

[2022-06-06 02:21] #9 closed

[2022-06-11 07:35] NickChang97 opened #15 "Runtime Error in Colab demo"
Hi, really thanks for releasing so amazing work. But I encounter something unexpected in the colab demo.

`image = load('http://farm4.staticflickr.com/3693/9472793441_b7822c00de_z.jpg')`

`caption = 'bobble heads on top of the shelf'`

`result, _ = glip_demo.run_on_web_image(image, caption, 0.5)`

`imshow(result, caption)`

When I run this codes above , "RuntimeError: Not compiled with GPU support

[2022-06-11 07:51] Haotian-Zhang commented on #15
Hi,

It seems like CUDA is not found when building the repo. You should make sure
`python -c 'import torch; from torch.utils.cpp_extension import CUDA_HOME; print(torch.cuda.is_available(), CUDA_HOME)'`

print (True, a directory with cuda) at the time you build

[2022-06-11 08:09] NickChang97 commented on #15
Thanks for your quick reply, I got "True None", can you give further advice to solve this? Thanks in advance

[2022-06-16 01:07] liunian-harold-li commented on #15
Hi, did you choose the runtime type with GPU support on Colab? Another possible reason is that the Colab demo attempts installing a specific CUDA version on Colab, which may not work if the GPU type you get is different from mine.

Please consider running the demo locally (this way, you could use docker and do not need to bother with the cuda installation) or retry to see if you could get a differ

[2022-06-16 01:23] NickChang97 commented on #15
Really thanks for your reply, I will try it according to your advice.

[2022-06-16 01:23] #15 closed

[2022-06-16 15:18] #12 closed

[2022-06-16 15:19] #8 closed

[2022-06-16 18:39] vade opened #16 "Colab example Cuda 10.2 install error"
Hi

Firstly, thank you for sharing this project.

When running the demo on Colab, I get this error:

https://colab.research.google.com/drive/12x7v-_miN7-SRiziK3Cx4ffJzstBJNqb?usp=sharing#scrollTo=BtMdw_J6PprI

[code]

The rest of the notebook runs until this cell

[code]

[code]

Thank you very much!

[2022-06-20 02:25] dongzhiwu opened #17 "the code of glip V2"
Hi, May I ask when the code of glip_v2 will be open source and we can't wait to try it

[2022-06-20 03:07] Haotian-Zhang commented on #17
@dongzhiwu Thank you for your interest in our GLIPv2 work. Currently, the v2 paper is still under review, but we will be sure to open source our codes and models as soon as the process finishes. Again, thank you for the patience and we really appreciate it!

[2022-06-21 02:30] tgxs002 opened #18 "The noun phrase extraction algorithm"
Hi,

I am interested in the noun phrase extraction algorithm, but it seems this process is not very detailed in the GLIP paper and code. Is more details about it available?

Thanks,
Blakey

[2022-06-21 04:39] Haotian-Zhang commented on #18
Hi @tgxs002, thank you for your questions. The noun phrase extraction algorithm (Named Entity Recognition) is not our focus in the paper, and we are only applying it to extract the positive phrases (character span) in the whole sentence from our caption data (since the positive character span in GoldG from our training data, MDETR has already extracted for us. ). The code pieces used in our repo c

[2022-06-21 06:16] tgxs002 commented on #18
Thank you for your timely response!

[2022-06-21 06:16] #18 closed

[2022-06-21 12:23] FrancescoSaverioZuppichini commented on #16
Same here! @liunian-harold-li

[2022-06-23 09:00] Kyfafyd opened #19 "What is the difference of provided `lvis_od_val.json` and official `lvis_v1_val.json`"
Dear authors, thanks for your nice work and codes!
I would like to learn what is the difference of provided `lvis_od_val.json` and official `lvis_v1_val.json`?

[2022-06-23 14:35] Haotian-Zhang commented on #19
@Kyfafyd Thank you for your question. `lvis_od_val.json` is almost the same as the officially provided `lvis_v1_val.json`, besides a slight difference in format (list vs. dict).

[2022-06-27 13:39] RenShuhuai-Andy commented on #16
I encountered the same problem.

[2022-07-01 02:21] jxgu1016 commented on #17
@Haotian-Zhang Could you release the demo codes and pretrained ckpts for a quick try?

[2022-07-01 17:11] xiaofeng94 opened #20 "Object365 in tsv format"
Dear authors,

Thanks for presenting such a great work.

I'm interesting in the pretraining part but quite confused by the data format of object365. From #10 , I know a old version of Object365 (v1) was used. But Object365 has been updated to v2.
It seems some v1 images were deleted from v2. The provided train.label.tsv in this repo contains 608606 images, but I only find 519789 out of 608606 in O

[2022-07-03 11:10] PanXiebit opened #21 "Why is contrastive loss not used in pretraining?"
https://github.com/microsoft/GLIP/blob/fd52c6361f013e70ae7682d90b3ab3ca2bd5e6bc/configs/pretrain/glip_Swin_T_O365.yaml#L40

In the config of pretraining, why set the USE_CONTRASTIVE_ALIGN_LOSS  False?

[2022-07-03 13:26] Haotian-Zhang commented on #21
Hi @PanXiebit, thank you for the question. The dot product loss is actually the grounding loss which we refer to in our paper. The contrastive align loss here in the code is mentioned in the MDETR paper, and we do not use it. For more details about the contrastive alignment loss, please check the corresponding paper. Thanks!

[2022-07-04 08:00] xueyyao opened #22 "Negative Samples"
Could we train negative samples by using this model?

[2022-07-04 08:09] Haotian-Zhang commented on #22
Please refer to Issue #8 for more details, thanks!

[2022-07-04 08:11] siyangssy opened #23 "Some yaml file."
Hello, when we finetune the code, we fine some "yaml" files are losed.
e,g. Objects365/objects365_train_vgoiv6.cas2000.yaml, Objects365/train.cas2000.yaml and so on.

Can you open these file for us？

Best grade.

[2022-07-04 08:15] #23 closed

[2022-07-04 08:15] siyangssy commented on #23
Sorry i can find these files.

[2022-07-04 08:16] #21 closed

[2022-07-04 15:55] fernandorovai opened #24 "Custom Dataset - Some guidance"
Hi there, I'm confused with the terms tokens_positive / tokens_negative and the image caption itself.

What should be the image caption if I have multiple objects with different attributes on the same image?
For instance:
Pink elephant, blue elephant and normal elephant on the same image.
Image caption on annotation file should be: blue elephant,normal elephant,pink elephant?
For the boxes, for ea

[2022-07-04 20:58] #19 closed

[2022-07-05 03:12] Haotian-Zhang commented on #24
@fernandorovai Thank you for the question. To create a dataset, you can start creating it by taking a look at the Flickr30k-entities ground truth file, which is downloaded [MDETR annotations](https://zenodo.org/record/4729015/files/mdetr_annotations.tar.gz?download=1) and follow its format. We only use the tokens_positive here. If you want to try your own data with image and text pair only, I reco

[2022-07-05 05:38] #11 closed

[2022-07-05 05:38] #22 closed

[2022-07-07 18:26] fernandorovai commented on #24
@Haotian-Zhang thanks so much for the instructions and for this awesome project.
In case I have multiple objects of the same class but with different attributes (the elephant example) in the same image, should I add the same image multiple times with different captions for each one of the objects?

[2022-07-07 18:33] Haotian-Zhang commented on #24
@fernandorovai Thank you for your question and support. In fact, for the contextualized detection (grounding) problem, we don't actually have a concept of "class". You only need one caption for a single image, for e.g. if you have an image ended up with its caption: "Pink elephant, blue elephant and normal elephant". The input label will be just like, positive spans = [[start char position for "pi

[2022-07-07 19:09] fernandorovai commented on #24
@Haotian-Zhang Sorry for my ignorance and thanks for all the guidance!

[2022-07-07 20:36] Haotian-Zhang commented on #24
@fernandorovai No worries at all! I'll close the issue now, please feel free to reopen it if you have further questions.

[2022-07-08 09:51] PanXiebit opened #25 "About the deep fusion module?"
Dear authors,

Thanks for presenting such a great work.

In your paper, you conduct the ablation study on the early fusion module, as GLIP-T(A) vs. GLIP-T(B), and demonstrates that deep fusion module brings greate improvements (zero-shot: 42.9 -> 44.9, FT: 52.9->53.8).

I have several questions about this module:

1. In our replementation, I find that this 6-layer fusion module brings nearly twice

[2022-07-08 22:33] Haotian-Zhang commented on #25
@PanXiebit Thank you for the questions and support! Please allow me to answer your question below.

1. The intuition of the deep fusion block is to encourage the visual and text features to attend to each other before the final region-word grounding contrastive loss so that it can help the model to learn more enriched representations. We actually follow the original implementation of the DyHead pa

[2022-07-09 15:07] PanXiebit commented on #25
@Haotian-Zhang  Thanks for your response! It helps me a lot.

[2022-07-09 15:07] #25 closed

[2022-07-11 19:53] xugy16 opened #26 "AttributeError: ml_nms and cannot import name '_C' withouth docker"
when I tried to run the code without docker:

I has several errors:

### cannot import name '_C'
from maskrcnn_benchmark import _C

### AttributeError: ml_nms
ml_nms = _C.ml_nms
soft_nms = _C.soft_nms

[2022-07-12 00:47] #26 closed

[2022-07-12 11:05] Kashu7100 opened #27 "RuntimeError: Not compiled with GPU support on Colab"
Thank you for sharing this interesting work.
When I try to run the Colab example, the execution of 6th cell of the notebook resulted in the following error.

[code]

Here is the GPU information that I used:
[code]

Any advice is appreciated.

Sincerely,

[2022-07-13 00:14] Steve-Tod opened #28 "Mask prediction"
Thank you for your great work! I tried the demo and it's insanely well!

I'm wondering if your model contains a mask prediction head. Because in the `GLIPDemo` there's a `show_mask_heatmaps` parameter. When I set it to true, the prediction does not has `mask` field and therefore failed.

Do you have pretrained model with a mask prediction head?

[2022-07-13 00:19] Haotian-Zhang commented on #28
@Steve-Tod Thank you for the question! This is within expectation since our GLIPv1 model is only focusing on object detection and phrase grounding. However, our recent GLIPv2 paper do have the capibility with instance segmentation and referring image segmentation. Please refer to the Appendix of v2 paper for further details. The codes and models are under internal reviews and will be published soo

[2022-07-13 00:30] Steve-Tod commented on #28
Great, looking forward to that!

[2022-07-13 00:30] #28 closed

[2022-07-13 12:30] neerajdr commented on #16
how to resolve this

[2022-07-14 07:21] zyong812 commented on #27
Remove ./build and re-install. This solved the problem for me.

[2022-07-14 07:30] neerajdr commented on #27
@zyong812 Where is ./build in directory

[2022-07-14 07:45] neerajdr opened #29 "GLIP demo issue in colab"
I am getting isssue

[/content/GLIP/maskrcnn_benchmark/engine/predictor_glip.py](https://localhost:8080/#) in overlay_entity_names(self, image, predictions, names, text_size, text_pixel, text_offset, text_offset_original)
    345
    346             cv2.putText(
--> 347                 image, s, (int(x), int(y)-text_offset_original), cv2.FONT_HERSHEY_SIMPLEX, text_size, (self.color, self.color, se

[2022-07-14 07:57] zyong812 commented on #27
Created by `python setup.py build develop --user` @neerajdr

[2022-07-14 07:59] neerajdr commented on #27
@zyong812 How did you resolve this issue

I am getting isssue

[/content/GLIP/maskrcnn_benchmark/engine/predictor_glip.py](https://localhost:8080/#) in overlay_entity_names(self, image, predictions, names, text_size, text_pixel, text_offset, text_offset_original)
345
346 cv2.putText(
--> 347 image, s, (int(x), int(y)-text_offset_original), cv2.FONT_HERSHEY_SIMPLEX, text_size, (self.color, self.col

[2022-07-14 10:01] weinman commented on #27
@neerajdr I too had this issue; I surmise it may have to do with when the colab was published versus the current code.

Anyhow, there's probably a better way, but you can hack your way around this problem (and see some quick results at least) by inserting `self.color = 255` at the beginning of method `run_on_web_image` of `class GLIPDemo` in file `maskrcnn_benchmark/engine/predictor_glip.py`

At l

[2022-07-14 16:41] Steve-Tod commented on #28
Just a short reminder, the Fig 1 of your paper seems to show the wrong prompt for the first two pictures.
![image](https://user-images.githubusercontent.com/26958167/179033986-1a6977f5-d048-4b2b-ae29-a5522715c667.png)

[2022-07-14 16:47] Haotian-Zhang commented on #28
@Steve-Tod This is not wrong since the prompt is a concatenation of detection categories (We only list a few). The apple is one of the categories in first pic, so are the bus, windowshield, mirror in second pic.

[2022-07-14 17:05] Steve-Tod commented on #28
Oh I see, thank you for clarification!

[2022-07-14 20:29] Haotian-Zhang commented on #28
No problem!

[2022-07-14 23:58] Steve-Tod commented on #28
@Haotian-Zhang  Sorry to bother again, but do you have an expectation on when the GLIP2 will be released? I really need the segmentation and if it's not gonna be released in the short future I'm thinking about applying MaskRCNN to GLIP prediction.

[2022-07-15 02:43] Haotian-Zhang commented on #28
@Steve-Tod We are going to release the codes when the v2 paper review is done, so it still needs some time. In this case, I have a quicker and easier suggestion to extend v1 to mask prediction: You can just use some backbone (HRNet) to extract the features from the proposals by v1, and then add the mask prediction heads to predict binary masks. The pixel categories of the binary masks can be easil

[2022-07-20 07:23] Colin97 opened #30 "Do you use alignment loss?"
In the paper, you introduced text-region alignment loss. However, in the config files, USE_CONTRASTIVE_ALIGN_LOSS are set to FALSE. Is there any explanation for not using it?

[2022-07-20 07:25] Haotian-Zhang commented on #30
@Colin97 Thank you for the question. Please refer to #21 for more details.

[2022-07-20 07:27] Colin97 commented on #30
Thanks for the timely reply!

[2022-07-20 07:27] #30 closed

[2022-07-21 00:43] Colin97 commented on #28
Hi @Haotian-Zhang, what do you mean by "The pixel categories of the binary masks can be easily replaced by the classification results from v1." Do we need the ground truth segmentation mask to train the binary mask prediction head?

[2022-07-21 00:57] Haotian-Zhang commented on #28
@Colin97 For the binary mask, you only need to predict whether this pixel belongs to the object or not. In this case, the class of certain pixels can only be assigned by the class of its proposals.

[2022-07-21 01:33] Colin97 commented on #28
But how to supervise the training of the segmentation head? Treat all pixels within the proposed bbox (by GLIP) as positive? Or use additional ground truth masks as supervision?

[2022-07-21 01:40] Haotian-Zhang commented on #28
@Colin97 The training definitely needs the ground truth mask as the supervision. This aforementioned approach is to deal with the classification of the pixels in a quick way. However, in GLIPv2, we are predicting the mask in a "grounding" style, and you can refer to the paper for more details.

[2022-07-21 01:42] Colin97 commented on #28
Thank you! @Haotian-Zhang

[2022-07-26 01:38] abril4416 opened #31 "no box detected using code in the codelab demo"
Thanks for the great work! I'm trying the code provided in your codelab demo. However,  there is no bounding box detected (No errors appear during the compiling and execution). I've also tried to re-install packages to ensure versions of packages on my server are the same as those in your code. Is there any possible reasons for the result?
![image](https://user-images.githubusercontent.com/3185249

[2022-07-26 03:07] Haotian-Zhang commented on #31
@abril4416 Hi, thank you for the support! Due to the recent update of the Colab env (CUDA and Pytorch version), our original code does not seem compatible. There are mainly two quick fixes that need to be added to the notebook and to the codes to make the demo work.

1. In the Colab demo: 'cuda' needs to be changed with 'cuda-10.2'
<img width="1310" alt="image" src="https://user-images.githubuserc

[2022-07-26 03:08] Haotian-Zhang commented on #29
Please refer to #31 for more details, thanks!

[2022-07-26 03:08] #29 closed

[2022-07-26 03:09] Haotian-Zhang commented on #27
Please refer to #31 for a quick fix, thanks!

[2022-07-26 03:09] #27 closed

[2022-07-26 03:09] Haotian-Zhang commented on #16
Please refer to #31 for quick fixes, thanks!

[2022-07-26 03:09] #16 closed

[2022-07-27 14:08] patrickESM opened #32 "INPUT parameter in cfg (for example "Aquarium_Aquarium_Combined.v2-raw-1024.coco.yaml")"
Hello,

thanks for your awesome work and that you provide the code here on github!

I have a quick question about the INPUT parameter in the cfg files:

for example:
`INPUT:
  MIN_SIZE_TRAIN: 800
  MAX_SIZE_TRAIN: 1333
  MIN_SIZE_TEST: 800
  MAX_SIZE_TEST: 1333`

Could you please elaborate what this parameter does?

Does this define the maximum input size of the network?
For example if my images o

[2022-07-27 15:25] weinman commented on #32
Yeah, this part is not particularly intuitive. You can see how these parameters get used [here](https://github.com/microsoft/GLIP/blob/fd52c6361f013e70ae7682d90b3ab3ca2bd5e6bc/maskrcnn_benchmark/data/transforms/transforms.py#L84) (as called from [here](https://github.com/microsoft/GLIP/blob/fd52c6361f013e70ae7682d90b3ab3ca2bd5e6bc/maskrcnn_benchmark/engine/predictor_glip.py#L84) in the demo).

Gen

[2022-07-28 00:11] ishikasingh commented on #26
did you figure out these errors?

[2022-07-28 05:25] npmhung opened #33 "Glib Demo - Bug Report"
At this [line](https://github.com/microsoft/GLIP/blob/main/maskrcnn_benchmark/engine/predictor_glip.py#L190) , I think it should be tokens_positive.append([[len(caption_string), len(caption_string) + len(word)]]), which is similar to line 121, and remove line 195.

Otherwise, when we call tokens_positive.append([len(caption_string), len(caption_string) + len(word)]), the function will only create

[2022-07-28 05:37] npmhung opened #34 "Labels for the bounding boxes"
So when I get the bounding boxes, to retrieve the class name, I do something like this:
self.entities[prediction.get_field('labels')[bbox_id]-1]

Is that correct?
However, sometime the prediction.get_field('labels')[bbox_id]-1 is bigger than then total number of entities. Is that a special entity for  "no object" class?

[2022-07-29 16:12] #32 closed

[2022-07-30 01:15] abril4416 commented on #31
Hi haotian, thanks for the patient reply. I'll try the updated codes as you've mentioned first. A problem is that I re-use the code on my own server, but there is no bounding box detected (no errors appeared). Could you please offer some suggestions when you are free?

[2022-07-30 01:15] #31 closed

[2022-08-01 07:29] wanghao9610 commented on #20
Hi, have you solved the problem? I have met the same problem. @xiaofeng94

[2022-08-01 07:39] patrickESM commented on #32
Thank you very much! @weinman

That made the parameters way clearer to me

[2022-08-01 16:52] xiaofeng94 commented on #20
Hey @wanghao9610 ,

I just regarded images whose name include 'v1' as Object365 v1 and used the class CocoGrounding to process data. You need to generate a .json file for Object365 v1 following COCO format. But I'm not sure if there is a risk doing all those things because I didn't have enough resources to exactly reproduce the result of GLIP-T (A).

[2022-08-02 10:12] FrancescoSaverioZuppichini opened #35 "MAP dataset-wise for ODinw"
Dear all,

I hope to find you well. Thanks for the fantastic work and for releasing GLIP to the world :)

I am working at Robolow and we are excited you use our hosted datasets to build ODinw. We would like to know if you can share the MAP per dataset and not only the average. This would help us understand the performance on some datasets with a substantial domain shift compared with the training

[2022-08-02 21:26] ktrapeznikov commented on #31
@abril4416  did you ever solve your problem?

[2022-08-02 21:28] liunian-harold-li commented on #31
Hi, I have updated the demo to use an older version of the code for
inference. Could you try again to see if your problem persists?

On Tue, 2 Aug 2022 at 14:26, ktrapeznikov ***@***.***> wrote:

[2022-08-03 02:50] wanghao9610 commented on #20
Thanks your response. @xiaofeng94 I have tried to generate image.tsv file according to the provided train.label.tsv file, and it worked. Hope this repo could provide some scripts to generate image.tsv file 😂 .

[2022-08-03 04:42] Haotian-Zhang commented on #35
@FrancescoSaverioZuppichini Thank you for the support and the provided datasets! We do have a detailed table in the Appendix of the GLIP paper, where we put the mAP for various models for every 13 datasets there. Thank you!

[2022-08-03 08:09] xiaofeng94 commented on #20
Hey, @wanghao9610, would you like to provide more details on how you get the image.tsv file? How much memory and how long dose it take? How do you handle it if there is an image missing from train.label.tsv file? Did you train a model using .tsv file and get results comparable to the reported results?

[2022-08-03 13:07] weinman opened #36 "Using validation set loss for evaluation"
I'd like to track the validation set loss for finetuning evaluation on a custom dataset (i.e., as shown in  the original maskrcnn trainer [here](https://github.com/facebookresearch/maskrcnn-benchmark/blob/57eec25b75144d9fb1a6857f32553e1574177daf/maskrcnn_benchmark/engine/trainer.py#L145)), rather than the COCO-style AP metrics.

Unfortunately, the evaluation data loader seems to be set up differen

[2022-08-03 14:15] weinman commented on #36
Brief update: I serendipitously recalled that the parameter dataset name suffix was necessary to make things work, for without it the error shown above was generated. Hence, I have added

[code]

to the config and disabled the use of the default inference/evaluation method (since it seems to be incompatible with the resulting dataset) via

[code]
The first change generates the requisite(?) `positi

[2022-08-03 15:08] FrancescoSaverioZuppichini commented on #35
@Haotian-Zhang Thanks a lot!

[2022-08-03 15:08] #35 closed

[2022-08-03 17:50] FrancescoSaverioZuppichini commented on #35
@Haotian-Zhang Any chance you also got the `mAP(iou=0.50)`  and not  `mAP(iou=0.50:0.95)`. Thank you a lot

[2022-08-04 09:36] weinman commented on #36
Following up: The function that makes the data loader only uses the caption separator specified by the config file in training mode:

[code]
(from `maskrcnn_benchmark/data/build.py` [here](https://github.com/microsoft/GLIP/blob/fd52c6361f013e70ae7682d90b3ab3ca2bd5e6bc/maskrcnn_benchmark/data/build.py#L355).)

Why use this configuration option only in training mode? The lack of separators seems to

[2022-08-09 03:58] weveng opened #37 "hi，I want to test a dataset with 200 classes,but get a error"

[2022-08-09 03:59] weveng commented on #37
RuntimeError: The expanded size of the tensor (1024) must match the existing size (512) at non-singleton dimension 1.  Target sizes: [1, 1024].  Tensor sizes: [1, 512]

[2022-08-09 04:05] weveng commented on #37
i want to know if the model can test the dataset with 200 classes

[2022-08-11 07:31] wanghao9610 commented on #20
@xiaofeng94 Sorry to give a response so late. I trained [gilp_a_tiny_objects365](https://github.com/microsoft/GLIP/blob/main/configs/pretrain/glip_A_Swin_T_O365.yaml) with my processed objects365 datasets(bs=128, lr=0.0002, lang_lr=0.00002, 16 a100_80g_gpus, spent 5days), and exploited zero-shot testing on coco_2017_val datasets, finally got  AP=34.84 vs reported AP=42.95. It is a large gap betwee

[2022-08-11 08:50] Colin97 opened #38 "model weight file become smaller after prompt tuning?"
Hi, I was prompt tuning "glip_large_model.pth" with the following commands:

`python -m torch.distributed.launch --nproc_per_node=1 tools/finetune.py \
    --config-file configs/pretrain/glip_Swin_L.yaml \
    --ft-tasks configs/odinw_35/10435.yaml \
    --skip-test \
    --custom_shot_and_epoch_and_general_copy 10_200_4 \
    --evaluate_only_best_on_test --push_both_val_and_test \
    MODEL.WEIGH

[2022-08-17 18:08] xugy16 opened #39 "'GLIPDemo' object has no attribute 'color'"
when calling self.overlay_entity_names(result, top_predictions),

cv2.putText(
                image, s, (int(x), int(y)-text_offset_original), cv2.FONT_HERSHEY_SIMPLEX, text_size, (self.color, self.color, self.color), text_pixel, cv2.LINE_AA
            )
self.color is not intilized.

When running demo.

color is initilied in visualize_with_predictions, which is not called in demo.

[2022-08-17 18:09] xugy16 commented on #37
I think the default max class  number is 80

[2022-08-18 15:37] weinman commented on #39
See #31 or #27 for possible fixes.

[2022-08-21 04:10] #39 closed

[2022-08-29 09:44] AHHOZP opened #40 "Equivalence between Patch Merging and Conv."
Hello, after looking at the  code in patch merging part, we found the complex operation that slice the feature and concatenate them then go through the linear layer to reduce dimension from 4*C to 2*C is completely equal to a conv layer of kernel size 2 and stride 2.

1. The operation you did is concatenate 4 pixels from a 2x2 patch in to 1 pixel, but quadrupled channel.
Every 2x2 patch shared the

[2022-08-29 09:46] #40 closed

[2022-08-29 09:47] AHHOZP commented on #40
I should put this issue to Swin.

[2022-09-01 13:14] FrancescoSaverioZuppichini opened #41 "RuntimeError: Not compiled with GPU support"
Hi guys,

Thanks for the amazing work! I am trying to run the model but I got the following error:

[code]

My `nvidia-smi` output, I've run ` python setup.py build develop --user` beforehand.

[code]

Thanks :)

Cheers,

Francesco

[2022-09-01 17:46] Haotian-Zhang commented on #41
Hi @FrancescoSaverioZuppichini , which PyTorch version did you install? This repo requires Pytorch>=1.9 and torchvision. After installing the Pytorch, please try to run the setup.py again to see if this error still exists.

[2022-09-02 07:35] MrWaterZhou commented on #31
no need to change the code.
just add
`glip_demo.color = 255`
after initialize "GLIPDemo" class

[2022-09-02 11:20] FrancescoSaverioZuppichini commented on #41
Hi @Haotian-Zhang , I am running that bad boy inside [`nvcr.io/nvidia/pytorch:21.08-py3`](https://docs.nvidia.com/deeplearning/frameworks/support-matrix/index.html) docker container so pytorch 1.10

[2022-09-03 01:31] Haotian-Zhang commented on #41
@FrancescoSaverioZuppichini It seems like the environment is not yet compatible with the deformable convolution? Could you please try using a different container that has Pytorch 1.9 and give it a try again? Thanks!

[2022-09-04 14:42] Con6924 commented on #41
Hi @Haotian-Zhang , I met the same error and tried with Pytorch 1.9 and CUDA 10.2 , but the error remains.

[2022-09-04 16:33] MohamedAliRashad opened #42 "Can we have a Gradio demo of GLIPv2 ?"
Something on huggingface will be nice.

[2022-09-04 20:56] Haotian-Zhang commented on #42
@MohamedAliRashad Working on it and hopefully it will be released soon!

[2022-09-04 21:06] Haotian-Zhang commented on #41
The problem remains for DCNv2 installation with your local env. In order for code to be compiled with DCN modules, please make sure torch.cuda.is_available() is True, and CUDA_HOME is not None (L31-40 in setup.py). If the problem still remains, please check https://github.com/CharlesShang/DCNv2/issues/82.

[2022-09-04 21:10] #20 closed

[2022-09-04 21:10] #13 closed

[2022-09-04 21:14] Haotian-Zhang commented on #37
@weveng @xugy16 There is actually no "max class" concept in GLIP since it is an open-vocabulary contextualized object grounding method. Please just make sure that after converting 200 classes into one detection prompt, it will not exceed the maximum length of the input for the text encoder. If the prompt exceeds the length, you can take a look at the codes about how we deal with the LVIS dataset (

[2022-09-04 21:15] #33 closed

[2022-09-05 08:33] FrancescoSaverioZuppichini commented on #41
@Haotian-Zhang `CUDA_HOME` is set, and cuda is obviously available

[2022-09-07 17:41] FrankFcc opened #43 "Can we run visualization code without evaluation and using self vocab list?"
Thanks for the amazing work and I'm really excited about that! Currently, I am trying to run the inference with your pretrained-model but had a question that if I can run visualization with prediction without the evaluation part. Is that possible in current codebase?

[2022-09-07 20:02] Haotian-Zhang commented on #43
@FrankFcc Thank you for your interest! Yes, we have a Colab demo here to help you run the demo without the evaluation. Please check out: https://colab.research.google.com/drive/12x7v-_miN7-SRiziK3Cx4ffJzstBJNqb?usp=sharing#scrollTo=BtMdw_J6PprI. A huggingface Gradio demo is still under preparation, but will be released soon.

[2022-09-07 20:09] FrankFcc commented on #43
Hi @Haotian-Zhang ,
Thanks you so much for your quick response. I've already utilized your demo code on Colab and it did give us some promising predictions. Then, I'm currently trying to use pretrained model via GLIP in our own cluster and also trying to set up a possible pipeline to our own custom data vocab and frame.  As a result, I wonder if GLIP team already had some built-in functions like i

[2022-09-07 20:12] Haotian-Zhang commented on #43
Hi @FrankFcc, if you check about the demo in detail. It is indeed a well-built pipeline to feed in your custom images and texts and then visualize the outputs. I can point to the https://github.com/microsoft/GLIP/blob/c5063c2fbff0482d5c6df7ac801ffd2921923e70/maskrcnn_benchmark/engine/predictor_glip.py#L27. Please take a look at this class and the function https://github.com/microsoft/GLIP/blob/c50

[2022-09-07 20:28] #37 closed

[2022-09-07 22:15] bobwan1995 opened #44 "Pretrained model weights without the deep fudsion module"
Hi, thanks for your great work! I really enjoy reading your paper.
I'm wondering if you could release the model weights pre-trained only on GoldG & Cap24M datasets without the deep fusion module (both GLIP-T & GLIP-L). We want to have some ablative experiments on that setting. Thank you so much!

[2022-09-07 23:14] Haotian-Zhang commented on #44
Hi @bobwan1995 , thank you for your interest! Sorry, we don't have a pre-trained model with GoldG & Cap24M without deep fusion. We only conducted experiments on models with deep fusion modules after we verified their effectiveness on tiny models with a small OD dataset.

[2022-09-08 19:20] #44 closed

[2022-09-08 19:20] #43 closed

[2022-09-09 19:01] Haotian-Zhang commented on #42
Just a quick update, we are working with HuggingFace to get a GPU to host our demo on Gradio. Hopefully, the demo for GLIPv1 will be released soon!

[2022-09-09 21:21] MohamedAliRashad commented on #42
@Haotian-Zhang This is excellent news.

Good Luck and shall v2 follow soon.

[2022-09-12 16:36] weinman commented on #37
@Haotian-Zhang  Thank you for this tip!

I see from the paper that the prompt is split up for training (Appendix B, "When not all object categories can fit into a single prompt") and evaluation (Appendix C.2).

This makes a lot of sense.

Unfortunately, I cannot find the relevant routines in the code. I wonder if someone can more specifically refer us to where should @weveng and I be looking for t

[2022-09-13 19:36] Haotian-Zhang commented on #42
We have updated the [HuggingFace Demo](https://huggingface.co/spaces/haotiz/glip-zeroshot-demo) for GLIP. Please feel free to give it a try! The v2 pre-training codes and demos will also be released soon, please stay tuned.

[2022-09-13 19:37] #41 closed

[2022-09-20 07:01] SKBL5694 commented on #42
It looks like there is some bug in huggingface's example, I found you give 6 examples in huggingface. In the 4th example, the model gives the wrong bounding boxes in "A blue dress. An orange shirt". It looks like the model got the colors wrong.

[2022-09-20 07:08] SKBL5694 commented on #42
To be more precise, I think the model will reverse the orange and blue. I test it on some other pictures and find this bug.

[2022-09-20 07:25] Haotian-Zhang commented on #42
@SKBL5694 Thank you for pointing out the bugs! The reason is due to the RGB channel of the image is reversed to BGR. I have updated the demo, and I think the results are correct now. Thanks!

[2022-09-25 01:20] #42 closed

[2022-09-26 17:08] fepegar opened #45 "Error in GLIP Colab and question"
Hi! Thanks for this repo. This is just a heads-up that the Colab for GLIP is not working as it complains about `% cd`. If replaced with `%cd`, it's all good.

I also have a question. I tried setting `show_mask_heatmaps` to `True` and got an error. What should I change for this to work?

[2022-09-27 06:07] SKBL5694 opened #46 "It seems that the docker environment（pytorch:ubuntu20.04_torch1.9-cuda11.3-nccl2.9.9） has some bugs"
I find the torch version in the docker is "1.9.0a0+c3d40fd", but when I run the code it raise a error: ·module `torch.nn.functional' has no attribute 'mish'` . In the other docker environment, the torch version is 1.9.1 and it has no error at that position.
What confuses me is that I can see the 'mish' function in version 1.9.0 in the official pytorch documentation. I'm not sure how to find the so

[2022-09-27 06:57] AmemiyaYuko commented on #17
Congratulation on the acceptance! Looking forward to see the code recently.

[2022-09-28 07:21] patrickESM commented on #46
I had the same issue yesterday after rebuilding my own Docker Container.

The problem seems to be with the transformers pip package.

I switched back to an older transformers version. For example:

`pip install transformers==4.20.1`

This worked for me.

[2022-09-28 07:26] SKBL5694 commented on #46
Actually, I thought about the problem of transformers. However I went to look at the mish method call of the previous version of the transformers and I found the same as the current version, so I didn't try the historical version of the transformers. Now I will go back and try it, thanks :)

[2022-09-28 21:22] Haotian-Zhang commented on #46
@patrickESM Thank you for your solutions. I will close the issue now, please feel free to re-open it if any problems.

[2022-09-28 21:22] #46 closed

[2022-09-29 08:44] SKBL5694 opened #47 "Some questions about the paper GLIP_v1"
In the appendix C.1. Pre-training Details: you say "with a probability of 0.5, we uniformly choose an integer N from [1,85 - |Cpos|] and put N categories in the prompt".
What's the meaning of [1,85 - |Cpos|], and how to deal with the probability of 0.5? I can understand how to get N? Can you explain it in more detail？

[2022-09-30 03:42] SKBL5694 opened #48 "Which version of objects 365 do you use in the paper?"
I'm not familiar with the objects 365. I notice that there are two versions of objects 365 dataset. Which version do you use in the paper? The version of 2019 or 2020?

[2022-10-11 12:35] FrancescoSaverioZuppichini commented on #41
@Haotian-Zhang can you share your installation process/ a docker file that works? Thanks a lot

[2022-10-11 14:44] lalonderodney opened #49 "1"
1

[2022-10-11 15:33] #49 closed

[2022-10-13 05:13] mactavish91 opened #50 "text encoder for detection"
Hello, the author, great work! However, there's one detail that makes me very confused: The input length of the language encoder is limited (e.g. 512), but when there are many categories to be detected, up to thousands of categories(e.g. LVIS), how to input the detected categories into the model? And will the attention module in the language encoder cause some words to be ignored, thus affecting t

[2022-10-13 05:34] Haotian-Zhang commented on #50
Hi @mactavish91 , we have already taken this into account when we are dealing with LVIS. If the prompt exceeds the encoder length, we divide the whole prompt into various queries, and we do the aggregation before the evaluation. Please refer to https://github.com/microsoft/GLIP/blob/b28a840070f5c60d2cea23b252280eb0fda0dfee/maskrcnn_benchmark/engine/inference.py#L455 for more details.

[2022-10-13 08:54] xiaomabufei commented on #17
Congratulation on the acceptance! Looking forward to see the code recently.

[2022-10-13 12:17] mactavish91 commented on #50
@Haotian-Zhang  Thank you for your kindly help! Besides, is glip-v2 open source now?

[2022-10-16 22:35] wangyu-ustc opened #51 "Torch 1.9.0 does not have torch.nn.functional.mish"
I have pulled the 11.3 version docker image from the README.md, which has torch 1.9.0 installed. However, the code could not be run with torch 1.9.0 since it does not have the function "mish". Is there anything we can do about this?

[2022-10-19 01:55] jsk1107 commented on #51
you can solve it by downgrading `transformers==4.20.1`.

#46

[2022-10-24 09:03] liunian-harold-li commented on #47
Thank you for the question! We always keep all the positive categories in the prompt. Then:

Half of the time, we will add negative categories to the prompt till we have 85 categories in the prompt in total (including both the positive and negative ones);

Half of the time, we want to add less negative categories (this is because we want the model to be exposed to prompts with varying lengths). Th

[2022-10-24 09:05] liunian-harold-li commented on #45
Thank you for the heads-up!

Currently the Colab demo only supports detection and not segmentation yet. Segmentation is supported in GLIPv2.

[2022-10-24 09:07] liunian-harold-li commented on #38
Thank you for raising this issue. I will need to taking a closer look. I did not notice this issue before.

[2022-10-24 09:16] liunian-harold-li commented on #36
Hi Jerod, sorry for the late reply. You are correct that the separation tokens should be set regardless of training/testing.

We haven't had this issue because we actually did not use the dataset's functions to do inference. In inference.py, we overrode the dataset class's functions (see the create_queries_and_maps_from_dataset function) and re-created the queries (this was to accommodate the diff

[2022-10-24 09:29] fepegar commented on #45
I though there were heatmaps available for the detection problem as well. Thanks for your reply!

[2022-10-24 09:29] #45 closed

[2022-10-28 06:53] KeitaOtani opened #52 "The behavior of `ModulatedDeformConv` when the mask shape is different from the input shape."
Thank you for your great work.

When I changed `maskrcnn_benchmark.layers.ModulatedDeformConv` to `torch.ops.DeformConv2d` to avoid CUDA compilation, I found a strange behavior.

In `maskrcnn_benchmark/modeling/rpn/vldyhead.py` at line 210, the input shape is different from the shape of offset and mask.
The input shape is the shape of `level + 1`, but the offset and mask shapes are the shape of `l

[2022-10-31 13:33] Zhangwenyao1 opened #53 "Some questions about this paper?"
Thanks for your awesome work, but I want to know how to produce these regions？
Are you use RPN  or other method ?

[2022-10-31 18:28] Haotian-Zhang commented on #53
Hi @Zhangwenyao1, thank you for your interest in GLIP work. We don't need to produce these regions. The major difference is that the traditional BUTD VL models may require a two-stage pre-training: first, pre-train on detection modules, then pre-train on alignment modules. However, GLIP unifies the detection and grounding to become a single "grounded VL understanding" pre-training task.

[2022-11-01 02:37] Zhangwenyao1 commented on #53
I mean how does GLIP V1 get region features, in my opinion, the visual encoder(CNN or Transformer) will encode the image into embedding, but in this paper, the output(O) of the visual encoder still looks like a patch.

[2022-11-01 06:11] Haotian-Zhang commented on #53
To get region features, we follow the way of dynamic head, which is a one-stage object detector. The features are extracted from 1x1 anchor boxes, and the way to define the positive and negative anchors is by following the ATSS.

[2022-11-01 06:16] Haotian-Zhang commented on #52
Since the deformable convolution module is not designed by ours, please refer to the original maskrcnn_benchmark or PyTorch repo for the details. Thanks!

[2022-11-01 06:16] #52 closed

[2022-11-01 06:17] #51 closed

[2022-11-01 06:17] #50 closed

[2022-11-01 06:17] #47 closed

[2022-11-02 23:19] Ngheissari opened #54 "problem with THC/THC.h"
I tried both containers. They result in this error:

GLIP/maskrcnn_benchmark/csrc/cuda/ROIAlign_cuda.cu:5:10: fatal error: THC/THC.h: No such file or directory
 #include <THC/THC.h>
          ^~~~~~~~~~~
compilation terminated.

[2022-11-03 08:50] ronslos commented on #17
Do you have an estimate for when GlipV2 code and model would be released?

[2022-11-05 05:35] KeitaOtani commented on #52
Thank you for your reply.
I understood that the deformable convolution module does not check the input shape, and you didn't create the module.
But, at `maskrcnn_benchmark/modeling/rpn/vldyhead.py#L210`, the input `offset` and `mask` shapes are different from the output shape of the deform convolution.
I think that not throwing an error here is responsible for the deformable convolution module, bu

[2022-11-05 13:23] jojolee123 opened #55 "Questions about postprocess"
Hello! Thanks for your nice work,I have a question about postprocess code
1 Is it too simple to choose the proposal whose score is greater than threshold A as the prediction result during reasoning? Or am I missing other key information？
2 I have not found the process of NMS? May I ask, is there no NMS?
Waiting for your reply,thanks again

[2022-11-05 22:08] KeitaOtani commented on #55
Hello, @jojolee123.

I think `boxlist_ml_nms` is the implementation of NMS.
When inferring,
`forward` method of `ATSSPostProcessor` calls `select_over_all_levels` at https://github.com/microsoft/GLIP/blob/main/maskrcnn_benchmark/modeling/rpn/inference.py#L739,
and `select_over_all_levels` calls `boxlist_ml_nms` at https://github.com/microsoft/GLIP/blob/main/maskrcnn_benchmark/modeling/rpn/inferenc

[2022-11-05 22:21] KeitaOtani commented on #54
Hello, @Ngheissari.
What version of Pytorch do you use?
`THC.h` is obsolete in the latest Pytorch.
I used Pytorch 1.9 and it compiled fine.

[2022-11-06 09:57] jojolee123 commented on #55
Thank you for your answer. I have another question:
That is to say, when reasoning, output all the results with scores greater than `cfg.MODEL.ATSS.INFERENCE_TH` and then NMS.
`candidate_inds = box_cls > self.pre_nms_thresh`
`pre_nms_thresh = config.MODEL.ATSS.INFERENCE_TH`
Q1: How does that determine the value of`cfg.MODEL.ATSS.INFERENCE_TH` (0.05)? When I migrated to my own task, the predicted s

[2022-11-08 06:39] neerajdr opened #56 "keypoint detection"
Can glip code be used for keypoint detection and and if yes whats the starting point?

[2022-11-10 07:09] Li-fAngyU opened #57 "Question about Swin-L used in GLIP-L"
When I check the [config file](https://github.com/microsoft/GLIP/blob/main/configs/pretrain/glip_Swin_L.yaml) of  GLIP-L and tried to find out which version of Swin Network was used.
[code]

I found that the parameter `MODEL.SWINT.VERSION` does not exist and it is needed in the initialization function of the network to get the `body`.

[Initialization file:](https://github.com/microsoft/GLIP/blob/

[2022-11-10 08:30] Li-fAngyU commented on #57
https://github.com/microsoft/GLIP/blob/main/maskrcnn_benchmark/config/defaults.py#L706
[code]
Is the version here corresponding to Swin-L in GLIP-L?

[2022-11-10 08:58] raymond1123 opened #58 "glip-v2"
Hi genius!
I am so interested in your work, great job!
looking forward to your code for glip-v2
do you have a plane?

[2022-11-10 09:10] #57 closed

[2022-11-13 12:24] huangjy-pku opened #59 "Pre-trained model checkpoint"
Hello, thanks for the release of model checkpoints. I downloaded the checkpoint of `GLIP-T` (`glip_tiny_model_o365_goldg_cc_sbu.pth`). And I found there are two parts concerning `state_dict` of model: `model` and `model_ema`. However, as far as I know, the `ema` usually appears in self-supervised learning like `MoCo` or `SimCLR` and I did not find anything mentioning something like this in your pa

[2022-11-16 05:49] huangjy-pku commented on #59
Thanks for @liunian-harold-li 's reply. He told me `model_ema` is a model from EMA with no intention, and I will use the key `model`. Close.

[2022-11-16 05:49] #59 closed

[2022-11-17 14:09] zzcgithub commented on #58
I hope so

[2022-11-21 09:08] raymond1123 opened #60 "prompt fine-tuning"
Hi author, thanks for this great job!
I am just wondering when Prompt Tuning, as mentioned in the paper: "_we first get prompt embeddings P0 from the language backbone, then discard the language backbone and only fine-tune P0 as the task- specific input_", whether O0 will also be fine-tuned?

[2022-11-21 15:06] jsk1107 opened #61 "When the prompt exceeds the length"
hello.

Q1.
The total number of classes in the custom data set I have is about 300. So it throws an error. I think this error occurs because the dimension of the logit is [:, :, 256] but the value index of my positive map is greater than 256. Am i right?

Q2.
In #37 "If the prompt exceeds the length, you can take a look at the inference codes about how we deal with the LVIS dataset (~1200 classes)

[2022-11-21 23:39] Haotian-Zhang commented on #61
@jsk1107 Thank you for the questions! Yes, the error is due to the maximum length of the text encoder input, which is 256. You can convert your label directly to LVIS format. There shall be no such big differences between the COCO and LVIS label files. The only thing you may do is modify the datasets section in the config file to make sure the model knows what kind of data you are specifying.

[2022-11-21 23:42] Haotian-Zhang commented on #60
Hi @raymond1123, thank you for your questions. The embedding P consists of two embeddings: (1) the initial embeddings from pre-trained text encoder P_0 and (2) an offset embedding P_offset (initialized as all zeros) that needs to be fine-tuned during the task-specific tunings. To answer your questions, the P_0 will not be changed during the fine-tuning, but P_offset will be changed.

[2022-11-21 23:44] Haotian-Zhang commented on #56
@neerajdr Thank you for your question. I believe our codes can be adapted to do the keypoint detection with minor changes. Please refer to some papers or open-source codes about how to add a keypoint head onto the one-stage detector. Then, to fine-tune the keypoint head on specific keypoints datasets. I guess that will work.

[2022-11-21 23:45] #54 closed

[2022-11-22 06:41] jsk1107 commented on #61
@Haotian-Zhang Problem solved. thank you

I have one more question. How should spaces be handled when entering prompts?

ex) aerosol can / aerosol_can
ex) air conditioner / air_conditioner

WordNet seems to provide underscores, not spaces. It is also underscore in LVIS comments. Is it a good practice to use underscores for correct prompting?

[2022-11-22 21:31] Haotian-Zhang commented on #61
Hi @jsk1107, I don't think underscore make senses in our case. Since we are using BERT as our text encoder, and it was pre-trained on the natural sentences styles. Besides, our detection prompt is also using spaces in between the class categories. Please let us know if you have further concerns.

[2022-11-23 00:39] Haotian-Zhang commented on #60
@raymond1123 Great, I'll close the issue now. Feel free to open it if any further questions.

[2022-11-23 00:39] #60 closed

[2022-11-23 00:40] #56 closed

[2022-11-24 01:55] Li-fAngyU commented on #52
Same issue here!

[2022-11-24 08:10] KeitaOtani commented on #52
Thanks for your comment, @Li-fAngyU!
I will submit this issue again.

[2022-11-24 08:23] Li-fAngyU commented on #52
Thanks for your reply, @KeitaOtani!
Here is the code (Hope this helps):
[code]
And the output result:
[code]

BTW, Did you mention this issue on this original maskrcnn_benchmark or PyTorch repo?

[2022-11-24 10:03] KeitaOtani commented on #52
Thanks for your code, @Li-fAngyU!
I will not submit this issue to the maskrcnn_benchmark repository.
I only focus on the problem that the shape of the input for `ModulatedDeformConv` is wrong, and therefore the back part of the input mask is not used vldyhead.py.

[2022-11-25 06:01] jsk1107 commented on #61
@Haotian-Zhang Thanks! I'll close this issue.

[2022-11-25 06:01] #61 closed

[2022-11-25 11:28] wangxinxin08 opened #62 "Unexpcted behavior of modulated convolutions inherited from DynamicHead"
As the issue https://github.com/microsoft/DynamicHead/issues/25 says, `modulated deformable convolution` and `upsample_bilinear` may be swaaped. The code is in https://github.com/microsoft/GLIP/blob/main/maskrcnn_benchmark/modeling/rpn/vldyhead.py#L210

[2022-11-30 07:10] backseason opened #63 "Get much lower AP on LVIS after directly following the instructions"
Dear authors,

By following the commands in https://github.com/microsoft/GLIP#lvis-evaluation using the provided config file and pretrained weights, the evaluation results on LVIS minival is much lower than the ones reported in README.

The command I used: `CUDA_VISIBLE_DEVICES=3,4,5,6 python -m torch.distributed.launch --nproc_per_node=4 tools/test_grounding_net.py --config-file configs/pretrain/